version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: clinicalsdb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      DB_NAME: clinicalsdb
      DB_USER: postgres
      DB_PASSWORD: root
      DB_HOST: db
      DB_PORT: "5432"
      ALLOWED_HOSTS: localhost,127.0.0.1,0.0.0.0
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
